$white: #FFF;
$black: #000;

$light-grey: #D6D6D6;

$lt-grey: #EBEBEB;
$grey: #ddd;
$md-grey: #999;

$dark-grey: rgb(134,134,134);
$darker-grey: rgb(70,70,70);
$darkerer-grey: rgb(35, 35, 35);
$text-color: $dark-grey;
$lt-blue: rgb(54,150,179);
$md-blue: #3095B4;
$dark-blue: rgb(8,82,113);

$cep: #005172;
$bir: #3095b4;
$ca: #BE4D00;
$dnbc: #00B2AA;

$ca-border: #903A17;
$cep-border: #003650;
$dnbc-border: #00807A;
$bir-border: #1C6B82;
$off-white: #F7F7F7;

$left: left;
$right: right;
$center: center;
$display-none: none;

$header-toggle-blue: rgb(27, 131, 167);
$footer-divider: rgba(134, 134, 134, 0.25);
$error: #FF0000;

$avenir: Avenir, "Avenir Next", AvenirLTStd-Book;
$avenir-next: "Avenir Next", AvenirLTStd-Book;