$input_color_blue : #3096B1;

$input_height: 65px;
$input_width: 500px;
$input_line-height: 25px;
$font_family_cart: Avenir Next,AvenirLTStd-Book;


$color_one: green;
$color_two: red;
$login_font_name: Avenir, "Avenir Next", AvenirLTStd-Book;
$checkout_title : #01516F;
$login_font_color : #3096B1;
$login_onFocus_border_color: #66afe9;
$billing_and_upsell_margin_top : 45px;
$container_margin :8%;




