.container .container-fluid .row.loginForm .login-form__label, .container .container-fluid .row.personalinfoForm .personalinfoform__label, .container .container-fluid .row.billingForm .billingform__label, .container .container-fluid .terms_conditions .termsconditions__label {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 30px; }

.container .container-fluid .row.shoppingCart .cart__label, .container .container-fluid .row.Upsell .upsell__label {
  float: left;
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 30px; }

.container .container-fluid .row.loginForm label.error, .container .container-fluid .row.personalinfoForm label.error, .container .container-fluid .row.billingForm label.error {
  display: block;
  font-size: 14px;
  font-weight: normal;
  text-align: right;
  margin-right: 25px; }

.container .container-fluid .row.shoppingCart .cart, .container .container-fluid .row.Upsell .upsell {
  border: 1px solid #ddd;
  border-top: 8px solid;
  margin-top: 55px; }

.container .container-fluid .row.loginForm #uname, .container .container-fluid .row.loginForm #email, .container .container-fluid .row.loginForm #password1, .container .container-fluid .row.loginForm #cpassword, .container .container-fluid .row.personalinfoForm .personalinfoform-div input, .container .container-fluid .row.billingForm .billingform-div input {
  height: 75px;
  width: 90%;
  line-height: 25px;
  font-size: 21px;
  color: #3096B1;
  font-weight: inherit0; }

.container .container-fluid .row.personalinfoForm .form-control, .container .container-fluid .row.billingForm .form-control {
  width: 90%;
  height: 70px; }

* {
  font-family: Avenir, "Avenir Next", AvenirLTStd-Book; }

.container .checkout-title {
  text-align: center;
  background-color: #01516F;
  height: 55px;
  margin-bottom: 77px;
  font-size: 24px;
  line-height: 55px;
  color: white;
  font-weight: lighter; }

.container .container-fluid {
  margin-left: 8%;
  margin-right: 8%; }
  .container .container-fluid .row.second {
    margin-top: 45px; }
  .container .container-fluid .row.loginForm {
    /* Declaring mixins */
    /* Ends here */
    /* Adding the Glyphicon */
    /* End here */ }
    .container .container-fluid .row.loginForm .login-form__label, .container .container-fluid .row.loginForm .row.personalinfoForm .personalinfoform__label, .container .container-fluid .row.personalinfoForm .row.loginForm .personalinfoform__label, .container .container-fluid .row.loginForm .row.billingForm .billingform__label, .container .container-fluid .row.billingForm .row.loginForm .billingform__label, .container .container-fluid .row.loginForm .terms_conditions .termsconditions__label, .container .container-fluid .terms_conditions .row.loginForm .termsconditions__label {
      font-size: 32px;
      font-weight: 100;
      margin-bottom: 30px; }
    .container .container-fluid .row.loginForm .row.shoppingCart .cart__label, .container .container-fluid .row.shoppingCart .row.loginForm .cart__label, .container .container-fluid .row.loginForm .row.Upsell .upsell__label, .container .container-fluid .row.Upsell .row.loginForm .upsell__label {
      float: left;
      font-size: 32px;
      font-weight: 100;
      margin-bottom: 30px; }
    .container .container-fluid .row.loginForm label.error {
      display: block;
      font-size: 14px;
      font-weight: normal;
      text-align: right;
      margin-right: 25px; }
    .container .container-fluid .row.loginForm .row.shoppingCart .cart, .container .container-fluid .row.shoppingCart .row.loginForm .cart, .container .container-fluid .row.loginForm .row.Upsell .upsell, .container .container-fluid .row.Upsell .row.loginForm .upsell {
      border: 1px solid #ddd;
      border-top: 8px solid;
      margin-top: 55px; }
    .container .container-fluid .row.loginForm #uname, .container .container-fluid .row.loginForm #email, .container .container-fluid .row.loginForm #password1, .container .container-fluid .row.loginForm #cpassword, .container .container-fluid .row.loginForm .row.personalinfoForm .personalinfoform-div input, .container .container-fluid .row.personalinfoForm .personalinfoform-div .row.loginForm input, .container .container-fluid .row.loginForm .row.billingForm .billingform-div input, .container .container-fluid .row.billingForm .billingform-div .row.loginForm input {
      height: 75px;
      width: 90%;
      line-height: 25px;
      font-size: 21px;
      color: #3096B1;
      font-weight: inherit0; }
    .container .container-fluid .row.loginForm .row.personalinfoForm .form-control, .container .container-fluid .row.personalinfoForm .row.loginForm .form-control, .container .container-fluid .row.loginForm .row.billingForm .form-control, .container .container-fluid .row.billingForm .row.loginForm .form-control {
      width: 90%;
      height: 70px; }
    .container .container-fluid .row.loginForm #uname, .container .container-fluid .row.loginForm #email, .container .container-fluid .row.loginForm #password1, .container .container-fluid .row.loginForm #cpassword {
      padding-left: 45px;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
      .container .container-fluid .row.loginForm #uname:focus, .container .container-fluid .row.loginForm #email:focus, .container .container-fluid .row.loginForm #password1:focus, .container .container-fluid .row.loginForm #cpassword:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        border-width: thin;
        border-top-style: double;
        border-left-style: double; }
    .container .container-fluid .row.loginForm #uname.error {
      border-color: red; }
    .container .container-fluid .row.loginForm #email.error {
      border-color: red; }
    .container .container-fluid .row.loginForm #password1.error {
      border-color: red; }
    .container .container-fluid .row.loginForm #cpassword.error {
      border-color: red; }
    .container .container-fluid .row.loginForm .login-form__login-text {
      color: #3096B1; }
    .container .container-fluid .row.loginForm .inner-addon {
      position: relative; }
    .container .container-fluid .row.loginForm .inner-addon .glyphicon {
      position: absolute;
      padding: 10px;
      pointer-events: none; }
    .container .container-fluid .row.loginForm .left-addon .glyphicon {
      left: 0px; }
    .container .container-fluid .row.loginForm .right-addon .glyphicon {
      right: 0px; }
    .container .container-fluid .row.loginForm .left-addon input {
      padding-left: 30px; }
    .container .container-fluid .row.loginForm .right-addon input {
      padding-right: 30px; }
    .container .container-fluid .row.loginForm .login-icon {
      font-size: 34px;
      color: #3096B1; }
    .container .container-fluid .row.loginForm .progress {
      width: 90%; }
  .container .container-fluid .row.personalinfoForm .row.loginForm .login-form__label, .container .container-fluid .row.loginForm .row.personalinfoForm .login-form__label, .container .container-fluid .row.personalinfoForm .personalinfoform__label, .container .container-fluid .row.personalinfoForm .row.billingForm .billingform__label, .container .container-fluid .row.billingForm .row.personalinfoForm .billingform__label, .container .container-fluid .row.personalinfoForm .terms_conditions .termsconditions__label, .container .container-fluid .terms_conditions .row.personalinfoForm .termsconditions__label {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px; }
  .container .container-fluid .row.personalinfoForm .row.shoppingCart .cart__label, .container .container-fluid .row.shoppingCart .row.personalinfoForm .cart__label, .container .container-fluid .row.personalinfoForm .row.Upsell .upsell__label, .container .container-fluid .row.Upsell .row.personalinfoForm .upsell__label {
    float: left;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px; }
  .container .container-fluid .row.personalinfoForm label.error {
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    margin-right: 25px; }
  .container .container-fluid .row.personalinfoForm .row.shoppingCart .cart, .container .container-fluid .row.shoppingCart .row.personalinfoForm .cart, .container .container-fluid .row.personalinfoForm .row.Upsell .upsell, .container .container-fluid .row.Upsell .row.personalinfoForm .upsell {
    border: 1px solid #ddd;
    border-top: 8px solid;
    margin-top: 55px; }
  .container .container-fluid .row.personalinfoForm .row.loginForm #uname, .container .container-fluid .row.loginForm .row.personalinfoForm #uname, .container .container-fluid .row.personalinfoForm .row.loginForm #email, .container .container-fluid .row.loginForm .row.personalinfoForm #email, .container .container-fluid .row.personalinfoForm .row.loginForm #password1, .container .container-fluid .row.loginForm .row.personalinfoForm #password1, .container .container-fluid .row.personalinfoForm .row.loginForm #cpassword, .container .container-fluid .row.loginForm .row.personalinfoForm #cpassword, .container .container-fluid .row.personalinfoForm .personalinfoform-div input, .container .container-fluid .row.personalinfoForm .row.billingForm .billingform-div input, .container .container-fluid .row.billingForm .billingform-div .row.personalinfoForm input {
    height: 75px;
    width: 90%;
    line-height: 25px;
    font-size: 21px;
    color: #3096B1;
    font-weight: inherit0; }
  .container .container-fluid .row.personalinfoForm .form-control {
    width: 90%;
    height: 70px; }
  .container .container-fluid .row.personalinfoForm #personalinfoform__input--div {
    margin-bottom: 40px; }
  .container .container-fluid .row.personalinfoForm input.error {
    border-color: red; }
  .container .container-fluid .row.personalinfoForm .form-control {
    border-radius: 0px; }
  .container .container-fluid .row.personalinfoForm #addressSame {
    height: 15px; }
  .container .container-fluid .row.billingForm .row.loginForm .login-form__label, .container .container-fluid .row.loginForm .row.billingForm .login-form__label, .container .container-fluid .row.billingForm .row.personalinfoForm .personalinfoform__label, .container .container-fluid .row.personalinfoForm .row.billingForm .personalinfoform__label, .container .container-fluid .row.billingForm .billingform__label, .container .container-fluid .row.billingForm .terms_conditions .termsconditions__label, .container .container-fluid .terms_conditions .row.billingForm .termsconditions__label {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px; }
  .container .container-fluid .row.billingForm .row.shoppingCart .cart__label, .container .container-fluid .row.shoppingCart .row.billingForm .cart__label, .container .container-fluid .row.billingForm .row.Upsell .upsell__label, .container .container-fluid .row.Upsell .row.billingForm .upsell__label {
    float: left;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px; }
  .container .container-fluid .row.billingForm label.error {
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    margin-right: 25px; }
  .container .container-fluid .row.billingForm .row.shoppingCart .cart, .container .container-fluid .row.shoppingCart .row.billingForm .cart, .container .container-fluid .row.billingForm .row.Upsell .upsell, .container .container-fluid .row.Upsell .row.billingForm .upsell {
    border: 1px solid #ddd;
    border-top: 8px solid;
    margin-top: 55px; }
  .container .container-fluid .row.billingForm .row.loginForm #uname, .container .container-fluid .row.loginForm .row.billingForm #uname, .container .container-fluid .row.billingForm .row.loginForm #email, .container .container-fluid .row.loginForm .row.billingForm #email, .container .container-fluid .row.billingForm .row.loginForm #password1, .container .container-fluid .row.loginForm .row.billingForm #password1, .container .container-fluid .row.billingForm .row.loginForm #cpassword, .container .container-fluid .row.loginForm .row.billingForm #cpassword, .container .container-fluid .row.billingForm .row.personalinfoForm .personalinfoform-div input, .container .container-fluid .row.personalinfoForm .personalinfoform-div .row.billingForm input, .container .container-fluid .row.billingForm .billingform-div input {
    height: 75px;
    width: 90%;
    line-height: 25px;
    font-size: 21px;
    color: #3096B1;
    font-weight: inherit0; }
  .container .container-fluid .row.billingForm .form-control {
    width: 90%;
    height: 70px; }
  .container .container-fluid .row.billingForm #billingform__input--div {
    margin-bottom: 40px; }
  .container .container-fluid .row.billingForm input.error {
    border-color: red; }
  .container .container-fluid .row.billingForm .form-control {
    border-radius: 0px; }
  .container .container-fluid .row.billingForm #savePaymentInfo {
    height: 15px; }
  .container .container-fluid .row.shoppingCart .row.loginForm .login-form__label, .container .container-fluid .row.loginForm .row.shoppingCart .login-form__label, .container .container-fluid .row.shoppingCart .row.personalinfoForm .personalinfoform__label, .container .container-fluid .row.personalinfoForm .row.shoppingCart .personalinfoform__label, .container .container-fluid .row.shoppingCart .row.billingForm .billingform__label, .container .container-fluid .row.billingForm .row.shoppingCart .billingform__label, .container .container-fluid .row.shoppingCart .terms_conditions .termsconditions__label, .container .container-fluid .terms_conditions .row.shoppingCart .termsconditions__label {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px; }
  .container .container-fluid .row.shoppingCart .cart__label, .container .container-fluid .row.shoppingCart .row.Upsell .upsell__label, .container .container-fluid .row.Upsell .row.shoppingCart .upsell__label {
    float: left;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px; }
  .container .container-fluid .row.shoppingCart .row.loginForm label.error, .container .container-fluid .row.loginForm .row.shoppingCart label.error, .container .container-fluid .row.shoppingCart .row.personalinfoForm label.error, .container .container-fluid .row.personalinfoForm .row.shoppingCart label.error, .container .container-fluid .row.shoppingCart .row.billingForm label.error, .container .container-fluid .row.billingForm .row.shoppingCart label.error {
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    margin-right: 25px; }
  .container .container-fluid .row.shoppingCart .cart, .container .container-fluid .row.shoppingCart .row.Upsell .upsell, .container .container-fluid .row.Upsell .row.shoppingCart .upsell {
    border: 1px solid #ddd;
    border-top: 8px solid;
    margin-top: 55px; }
  .container .container-fluid .row.shoppingCart .row.loginForm #uname, .container .container-fluid .row.loginForm .row.shoppingCart #uname, .container .container-fluid .row.shoppingCart .row.loginForm #email, .container .container-fluid .row.loginForm .row.shoppingCart #email, .container .container-fluid .row.shoppingCart .row.loginForm #password1, .container .container-fluid .row.loginForm .row.shoppingCart #password1, .container .container-fluid .row.shoppingCart .row.loginForm #cpassword, .container .container-fluid .row.loginForm .row.shoppingCart #cpassword, .container .container-fluid .row.shoppingCart .row.personalinfoForm .personalinfoform-div input, .container .container-fluid .row.personalinfoForm .personalinfoform-div .row.shoppingCart input, .container .container-fluid .row.shoppingCart .row.billingForm .billingform-div input, .container .container-fluid .row.billingForm .billingform-div .row.shoppingCart input {
    height: 75px;
    width: 90%;
    line-height: 25px;
    font-size: 21px;
    color: #3096B1;
    font-weight: inherit0; }
  .container .container-fluid .row.shoppingCart .row.personalinfoForm .form-control, .container .container-fluid .row.personalinfoForm .row.shoppingCart .form-control, .container .container-fluid .row.shoppingCart .row.billingForm .form-control, .container .container-fluid .row.billingForm .row.shoppingCart .form-control {
    width: 90%;
    height: 70px; }
  .container .container-fluid .row.shoppingCart .padd {
    padding: 5px 20px 10px 30px; }
  .container .container-fluid .row.shoppingCart hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eeeeee; }
  .container .container-fluid .row.shoppingCart .black {
    font-family: Avenir Next,AvenirLTStd-Book;
    color: #000;
    font-size: 18px; }
  .container .container-fluid .row.shoppingCart .cep {
    color: #3096B1; }
  .container .container-fluid .row.shoppingCart .right-float {
    float: right; }
  .container .container-fluid .row.shoppingCart .productName {
    font-size: 30px; }
  .container .container-fluid .row.shoppingCart .productPrice {
    font-size: 35px; }
  .container .container-fluid .row.shoppingCart .cart {
    border-top-color: #3096B1; }
  .container .container-fluid .row.shoppingCart .amt-b {
    font-family: Avenir Next,AvenirLTStd-Book;
    color: #000;
    font-size: 38px;
    font-weight: 400; }
  .container .container-fluid .row.shoppingCart .amt {
    font-family: Avenir Next,AvenirLTStd-Book;
    color: #000;
    font-size: 38px;
    font-weight: 300; }
  .container .container-fluid .row.shoppingCart .grey {
    font-family: Avenir Next,AvenirLTStd-Book;
    color: #999;
    font-size: 18px; }
  .container .container-fluid .row.shoppingCart .promo {
    padding-left: 20px;
    margin-left: 20px;
    width: 500px;
    height: 75px; }
  .container .container-fluid .row.shoppingCart .close {
    width: 40px; }
  .container .container-fluid .row.shoppingCart .apply {
    border-radius: 25px;
    border: 1px solid gray;
    width: 145px;
    height: 40px;
    border-color: #3096B1;
    color: #3096B1;
    font-size: 16px; }
  .container .container-fluid .row.Upsell .row.loginForm .login-form__label, .container .container-fluid .row.loginForm .row.Upsell .login-form__label, .container .container-fluid .row.Upsell .row.personalinfoForm .personalinfoform__label, .container .container-fluid .row.personalinfoForm .row.Upsell .personalinfoform__label, .container .container-fluid .row.Upsell .row.billingForm .billingform__label, .container .container-fluid .row.billingForm .row.Upsell .billingform__label, .container .container-fluid .row.Upsell .terms_conditions .termsconditions__label, .container .container-fluid .terms_conditions .row.Upsell .termsconditions__label {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px; }
  .container .container-fluid .row.Upsell .row.shoppingCart .cart__label, .container .container-fluid .row.shoppingCart .row.Upsell .cart__label, .container .container-fluid .row.Upsell .upsell__label {
    float: left;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px; }
  .container .container-fluid .row.Upsell .row.loginForm label.error, .container .container-fluid .row.loginForm .row.Upsell label.error, .container .container-fluid .row.Upsell .row.personalinfoForm label.error, .container .container-fluid .row.personalinfoForm .row.Upsell label.error, .container .container-fluid .row.Upsell .row.billingForm label.error, .container .container-fluid .row.billingForm .row.Upsell label.error {
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    margin-right: 25px; }
  .container .container-fluid .row.Upsell .row.shoppingCart .cart, .container .container-fluid .row.shoppingCart .row.Upsell .cart, .container .container-fluid .row.Upsell .upsell {
    border: 1px solid #ddd;
    border-top: 8px solid;
    margin-top: 55px; }
  .container .container-fluid .row.Upsell .row.loginForm #uname, .container .container-fluid .row.loginForm .row.Upsell #uname, .container .container-fluid .row.Upsell .row.loginForm #email, .container .container-fluid .row.loginForm .row.Upsell #email, .container .container-fluid .row.Upsell .row.loginForm #password1, .container .container-fluid .row.loginForm .row.Upsell #password1, .container .container-fluid .row.Upsell .row.loginForm #cpassword, .container .container-fluid .row.loginForm .row.Upsell #cpassword, .container .container-fluid .row.Upsell .row.personalinfoForm .personalinfoform-div input, .container .container-fluid .row.personalinfoForm .personalinfoform-div .row.Upsell input, .container .container-fluid .row.Upsell .row.billingForm .billingform-div input, .container .container-fluid .row.billingForm .billingform-div .row.Upsell input {
    height: 75px;
    width: 90%;
    line-height: 25px;
    font-size: 21px;
    color: #3096B1;
    font-weight: inherit0; }
  .container .container-fluid .row.Upsell .row.personalinfoForm .form-control, .container .container-fluid .row.personalinfoForm .row.Upsell .form-control, .container .container-fluid .row.Upsell .row.billingForm .form-control, .container .container-fluid .row.billingForm .row.Upsell .form-control {
    width: 90%;
    height: 70px; }
  .container .container-fluid .row.Upsell .padd {
    padding: 5px 20px 10px 30px; }
  .container .container-fluid .row.Upsell hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eeeeee; }
  .container .container-fluid .row.Upsell .black {
    font-family: Avenir Next,AvenirLTStd-Book;
    color: #000;
    font-size: 18px; }
  .container .container-fluid .row.Upsell .cep {
    color: #3096B1; }
  .container .container-fluid .row.Upsell .right-float {
    float: right; }
  .container .container-fluid .row.Upsell .productName {
    font-size: 30px; }
  .container .container-fluid .row.Upsell .productPrice {
    font-size: 35px; }
  .container .container-fluid .row.Upsell .upsell {
    border-top-color: #898989; }
  .container .container-fluid .row.Upsell #upsellApply {
    border-radius: 25px;
    border: 1px solid gray;
    width: 145px;
    height: 40px;
    border-color: #898989;
    color: #898989;
    font-size: 16px; }
  .container .container-fluid .col-md-7 {
    margin-bottom: 50px; }
  .container .container-fluid .terms_conditions #terms {
    border: solid 1px;
    padding: 20px 20px 20px 20px;
    margin-top: 35x; }
  .container .container-fluid .finish_button {
    float: right;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 60px; }
    .container .container-fluid .finish_button #company_taxExempt {
      margin-top: 10px; }
    .container .container-fluid .finish_button #agree_terms {
      margin-top: 10px; }
    .container .container-fluid .finish_button .finish {
      margin-top: 10px;
      float: right;
      border-radius: 25px;
      border: 1px solid gray;
      width: 145px;
      height: 40px;
      border-color: #898989;
      color: #898989;
      font-size: 16px; }

/*# sourceMappingURL=main.css.map */
