.billingform-div {
	input {
	   @extend %input_textbox;
	}

}
.billingform__label{
		@extend %form_label1;
}

#billingform__input--div {
		margin-bottom: 40px;
}

label.error{
    @extend %label_error;
}
input.error {
    border-color: red;
}
.form-control{
	@extend %dropdown;
	border-radius: 0px;
}
#savePaymentInfo{
	height:15px;
}