@import "utilities/variables";
@import "mixins/form_labels";

.personalinfoform-div {
	input {
	    @extend %input_textbox;
	}

	.personalinfoform__label{
		@extend %form_label1;
	}

	label.error{
    	@extend %label_error;
	}

	input.error {
    	border-color: red;
	}

	.personalinfoform__input--div{
		margin-bottom:35px;

		.form-control{
			@extend %dropdown;
			border-radius: 0px;
		}
		.error{
			color:red;
		}
	}
	.checkbox{
		#addressSame{
    		height:15px;
		}
		#newAddress{
			height:15px;	
		}
	}

}






