@import "utilities/variables";
@import "mixins/form_labels";


input {
	height: $input_height;
    width: $input_width;
    line-height: $input_line-height;
    color: $input_color_blue;
	font-size: 28px;
}



%loginform_input{

	line-height: 25px;
    font-size: 21px;
    font-weight: inherit;
    color: $input_color_blue;
    padding-left: 45px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;


    &:focus {

   	border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    border-width: thin;
    border-top-style: double;
    border-left-style: double;
    }
}


#uname{
	&.error {
		border-color: red;
	}
	@extend %loginform_input;
}

#email {
	&.error {
		border-color: red;
	}
	@extend %loginform_input;	
}

#password1 {
	&.error {
		border-color: red;
	}
	@extend %loginform_input;	
}

#cpassword {
	&.error {
		border-color: red;
	}
	@extend %loginform_input;	
}

.login-form__label {
	@extend %form_label;
}

.login-form__login-text{
    color: $input_color_blue;
}

