$color_one: green;
$color_two: red;
$login_font_name: Avenir, "Avenir Next", AvenirLTStd-Book;
$checkout_title : #01516F;
$login_font_color : #3096B1;
$login_onFocus_border_color: #66afe9;
$billing_and_upsell_margin_top : 30px;
$container_margin :5%;

.container{
    .checkout-title {
            text-align: center;
            background-color: $checkout_title;
            height: 55px;
            margin-bottom: 77px;
            font-size: 24px;
            line-height: 55px;
            color: white;
            font-weight: lighter;
    }
    .container-fluid {

        margin-left: $container_margin;
        margin-right: $container_margin;
    
        .row {
    
            &.second {
                margin-top:$billing_and_upsell_margin_top;
            }

            &.loginForm {
                @import "loginform.scss";
            
            }
            &.billingForm {
                @import "billingform.scss";
            }
            &.shoppingCart{
                @import "shoppingCart.scss";
            }
            &.Upsell{
                @import "upsell.scss";
            }
        }
        .col-md-7 {
            margin-bottom:50px;
        }
    }
}
