@import "utilities/variables";
@import "mixins/form_labels";

* {
  font-family: Avenir, "Avenir Next", AvenirLTStd-Book; 
}

.container{
    .checkout-title {
            text-align: center;
            background-color: $checkout_title;
            height: 55px;
            margin-bottom: 77px;
            font-size: 24px;
            line-height: 55px;
            color: white;
            font-weight: lighter;
    }
    .container-fluid {

        margin-left: $container_margin;
        margin-right: $container_margin;
    
        .row {
    
            &.second {
                margin-top:$billing_and_upsell_margin_top;
            }

            &.loginForm {
                @import "loginform.scss";
            
            }
            &.personalinfoForm {
                @import "personalinfoForm.scss";
            }
            &.billingForm {
                @import "billingform.scss";
            }
            &.shoppingCart{
                @import "shoppingCart.scss";
            }
            &.Upsell{
                @import "upsell.scss";
            }

        }
        .col-md-7 {
            margin-bottom:50px;
        }

        .terms_conditions {
            // background-color:red;
            //width:95%;

            .termsconditions__label {
                @extend %form_label1;

            }
            #terms{
                border:solid 1px;
                padding: 20px 20px 20px 20px;
                margin-top:35x;
            }
            
        }
    }
}
