@import "utilities/variables";
@import "mixins/form_labels";

* {
  font-family: Avenir, "Avenir Next", AvenirLTStd-Book; 
}




.container{

    // #header,
    // #footer {
    //     @import "_header-footer.scss";

    // }

    .checkout-title {
            text-align: center;
            background-color: $checkout_title;
            height: 55px;
            margin-bottom: 77px;
            font-size: 24px;
            line-height: 55px;
            color: white;
            font-weight: lighter;
    }
    .container-fluid {

        margin-left: $container_margin;
        margin-right: $container_margin;
    
        .row {
    
            &.second {
                margin-top:$billing_and_upsell_margin_top;
            }
            &.loginForm {
                @import "_loginform.scss";
            }
            &.personalinfoForm {
                @import "_personalinfoForm.scss";
            }
            &.billingForm {
                @import "_billingform.scss";
            }
            &.shoppingCart{
                @import "_shoppingCart.scss";
            }
            &.Upsell{
                @import "_upsell.scss";
            }
        }
        .col-md-7 {
            margin-bottom:50px;
        }
        .terms_conditions {
            .termsconditions__label {
                @extend %form_label1;
            }
            #terms{
                border:solid 1px;
                padding: 20px 20px 20px 20px;
                margin-top:35x;
            }
        }
        .finish_button {
            float:right;
            font-size:20px;
            margin-top:40px;
            margin-bottom:60px;

            #company_taxExempt{
                margin-top:10px;
            }
            #agree_terms {
                margin-top:10px;
            }
            .finish {
                margin-top:10px;
                float:right;
                @include button_black;
            }
        }
    }


}
