@import "utilities/variables";
@import "mixins/form_labels";

.personalinfoform-div {
	input {
	    height: $input_height;
    	width: $input_width;
    	line-height: $input_line-height;
	    font-size: 21px;
	    color: $input_color_blue;
	    font-weight: inherit;
	}
}
.personalinfoform__label{

		@extend %form_label1;
}
#personalinfoform__input--div {
		margin-bottom: 40px;
}

label.error{
    @extend %label_error;
}

input.error {
    border-color: red;
}
.form-control{
	@extend %dropdown;
}

#addressSame{
    height:15px;
}